 @import url ('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

 @media (min-width:769px) {
   body {
     background-color: #8ead9642;
   }
   @font-face {
    font-family: "abeja";
    src: url("../fonts/regular.ttf")
    format("truetype");
   }
 }

 * {
   margin: 0;
   padding: 0;
 }

 header {
   display: flex;
   background-color: #000000;
   padding: 1%;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   border: solid 0.1em rgba(255, 255, 255, 0);
   border-bottom-color:#025a029c ;
 }

 .logo {
   width: 49vw;
 }

 .logo img {
   width: 60%;
   margin: 0 auto;
 }

 .redes {
   display: flex;
   width: 30vw;
   justify-content:space-evenly;
   align-items: center;
 }

 .redes div {
   width: 100vw;
   text-align: center;
 }

 .redes div img {
   width: 65%;
 }

 .redes {
   -moz- transition: all 2s ease;
   -o- transition: all 2s ease;
 }

 .redes img:hover {
   height: 100%;
   width: 100%;
   margin-left: 10%;
 }
nav{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
 nav .links {
   list-style: none;
 }

 nav .links li {
   display: inline-block;
   padding: 0 50px 0 5px;
 }

 nav .links li:hover {
   transform: scale(1.1);
 }

 nav .links a {
  font-family: "abeja";
   font-size: 1.2em;
   color: #3cbe00b4;
   text-decoration: none;
   text-shadow: 0 0 black;
 }

 nav .links li a:hover {
   color: #fa7e12;
 }
 .img-grande {
  width: 100%;
  height: 100%;
}

 .parte1 {
   margin-top: 5vw;
   display: flex;
   padding: 2vw;
   color: #161616;
 }

 .parte1 img {
   width: 65vw;
   height: 60vh;
 }

 .descripción1 h1 {
   margin-top: 1vw;
   padding-left: 2vw;
   font-style: oblique;
   font-size: 1.9em;
   font-weight: bolder;
   color: #161616;
 }

 .descripción1 p {
   padding-left: 2vw;
   font-size: 1em;
   font-display: swap;
   font-family:sans-serif ;
   color: #444;
   font-stretch: expanded;
   font-variant-caps: titling-caps;
   font-weight: lighter;
   margin-right: 5vw;
 }

 p .leer-más {
   font-size: 1em;
   font-display: swap;
   font-family: sans-serif;
   color: #20c120;
   font-stretch: expanded;
   font-variant-caps: titling-caps;
   font-weight: lighter;
 }

 .parte2 {
   margin-top: 20px;
   display: flex;
   padding: 6.5px;
   color: #161616;
 }

 .parte2 img {
   width: 48%;
   height: 32%;
   padding-left: 22px;
 }

 .parte3 {
   margin-top: 1vh;
   display: flex;
   justify-content: space-between;
   color: #161616;
 }

 .parte3 .h2 { 
   font-style: oblique;
   font-size: 1.5em;
   font-weight: bolder;
   color: #161616;
   display: flex;
   justify-content: center;
 }

 .parte3 p {
   padding-left: 2vw;
   font-size: 1em;
   font-display: swap;
   font-family: sans-serif;
   color: #444;
   font-stretch: expanded;
   font-variant-caps: titling-caps;
   font-weight: lighter;
   margin-right: 50px;
 }

 .img-wp {
   width: 5vw;
   bottom: 10px;
   right: 0;
   position: fixed;
   transition: all 0.3s;
 }

 .img-wp:hover {
   width: 6vw;
 }

 footer {
   display: flex;
   justify-content: space-around;
   background-color: #000000;
   padding: 1%;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
 }
 footer box{
  width: 30vw;
  display: flex;
  justify-content: space-around;
 }

footer a {
  color: #fff;
}
 h2 {
  color: #fff;
  font-size: 1em%;
  font-family: "abeja";
  margin-bottom: 2vw;
  display: flex;
  justify-content: space-evenly;
}
 .maps {
  width: 25vw;
  height: 35vh;
}
 footer .box p {
   color: #fff;
   margin-bottom: 2vw;
   font-size: 0.9em;
   font-family: serif;
   margin-right: 1vh;
   display: flex;
   justify-content: space-evenly;
 } 
 div .redes img {
  width:4vw;
}
.redes {
  -moz- transition: all 2s ease;
  -o- transition: all 2s ease;
}

div .redes img:hover {
  width: 5vw;
}
 